In [2]:
#AQI= Air Quality Index, range = 0-500|AQI<50 -> good air quality|AQI>300 -> hazardous air quality|
import pandas as pd
pollution_dataset=pd.read_csv('pollution_us_2000_2016.csv')
#note: p_dataset=pd.read_excel(filename.xlsx) in order to read .xlsx files

#display first few rows of a dataset using head(no. of rows)
print(pollution_dataset.head(5))
#note: print(pollution_dataset.tail(5)) to display last few rows

   Unnamed: 0  State Code  County Code  Site Num  \
0           0           4           13      3002
1           1           4           13      3002
2           2           4           13      3002
3           3           4           13      3002
4           4           4           13      3002

                                   Address    State    County     City  \
0  1645 E ROOSEVELT ST-CENTRAL PHOENIX STN  Arizona  Maricopa  Phoenix
1  1645 E ROOSEVELT ST-CENTRAL PHOENIX STN  Arizona  Maricopa  Phoenix
2  1645 E ROOSEVELT ST-CENTRAL PHOENIX STN  Arizona  Maricopa  Phoenix
3  1645 E ROOSEVELT ST-CENTRAL PHOENIX STN  Arizona  Maricopa  Phoenix
4  1645 E ROOSEVELT ST-CENTRAL PHOENIX STN  Arizona  Maricopa  Phoenix

   Date Local          NO2 Units  ...          SO2 Units  SO2 Mean  \
0  2000-01-01  Parts per billion  ...  Parts per billion  3.000000
1  2000-01-01  Parts per billion  ...  Parts per billion  3.000000
2  2000-01-01  Parts per billion  ...  Parts per billion  2.975000
3  2000-01-01  Parts per billion  ...  Parts per billion  2.975000
4  2000-01-02  Parts per billion  ...  Parts per billion  1.958333

   SO2 1st Max Value  SO2 1st Max Hour SO2 AQI           CO Units   CO Mean  \
0                9.0                21    13.0  Parts per million  1.145833
1                9.0                21    13.0  Parts per million  0.878947
2                6.6                23     NaN  Parts per million  1.145833
3                6.6                23     NaN  Parts per million  0.878947
4                3.0                22     4.0  Parts per million  0.850000

   CO 1st Max Value  CO 1st Max Hour CO AQI
0               4.2               21    NaN
1               2.2               23   25.0
2               4.2               21    NaN
3               2.2               23   25.0
4               1.6               23    NaN

[5 rows x 29 columns]

In [17]:
#display column headers
print(pollution_dataset.columns)

#read specific column (similar to 2d array)
#print(pollution_dataset['Date Local'])

#read specific columns & limit output to first 5 rows
#print(pollution_dataset[['Date Local','NO2 Units']][0:5])

#read specific row
#print(pollution_dataset.iloc[2])

#read specific location (R,C)
#print(pollution_dataset.iloc[2,1])

#filter out using loc
print(pollution_dataset.loc[pollution_dataset['City']=='Phoenix'].loc[pollution_dataset['Date Local']=='2000-01-01'])

Index(['Unnamed: 0', 'State Code', 'County Code', 'Site Num', 'Address',
       'State', 'County', 'City', 'Date Local', 'NO2 Units', 'NO2 Mean',
       'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI', 'O3 Units',
       'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 Units',
       'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
       'CO Units', 'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI'],
      dtype='object')
   Unnamed: 0  State Code  County Code  Site Num  \
0           0           4           13      3002
1           1           4           13      3002
2           2           4           13      3002
3           3           4           13      3002

                                   Address    State    County     City  \
0  1645 E ROOSEVELT ST-CENTRAL PHOENIX STN  Arizona  Maricopa  Phoenix
1  1645 E ROOSEVELT ST-CENTRAL PHOENIX STN  Arizona  Maricopa  Phoenix
2  1645 E ROOSEVELT ST-CENTRAL PHOENIX STN  Arizona  Maricopa  Phoenix
3  1645 E ROOSEVELT ST-CENTRAL PHOENIX STN  Arizona  Maricopa  Phoenix

   Date Local          NO2 Units  ...          SO2 Units  SO2 Mean  \
0  2000-01-01  Parts per billion  ...  Parts per billion     3.000
1  2000-01-01  Parts per billion  ...  Parts per billion     3.000
2  2000-01-01  Parts per billion  ...  Parts per billion     2.975
3  2000-01-01  Parts per billion  ...  Parts per billion     2.975

   SO2 1st Max Value  SO2 1st Max Hour SO2 AQI           CO Units   CO Mean  \
0                9.0                21    13.0  Parts per million  1.145833
1                9.0                21    13.0  Parts per million  0.878947
2                6.6                23     NaN  Parts per million  1.145833
3                6.6                23     NaN  Parts per million  0.878947

   CO 1st Max Value  CO 1st Max Hour CO AQI
0               4.2               21    NaN
1               2.2               23   25.0
2               4.2               21    NaN
3               2.2               23   25.0

[4 rows x 29 columns]

In [19]:
#get general data about dataset
#pollution_dataset.describe()

#sort data by column values, add ascending=FALSE or TRUE to make it ascending/descending
pollution_dataset.sort_values('City')

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
1552656,88244,35,1,23,4700A SAN MATEO NE,New Mexico,Bernalillo,Albuquerque,2014-08-18,Parts per billion,...,Parts per billion,0.587500,0.9,8,NaN,Parts per million,0.187500,0.200,0,2.0
1683502,87501,35,1,23,4700A SAN MATEO NE,New Mexico,Bernalillo,Albuquerque,2015-10-02,Parts per billion,...,Parts per billion,0.525000,0.7,8,NaN,Parts per million,0.200000,0.300,9,3.0
1683501,87500,35,1,23,4700A SAN MATEO NE,New Mexico,Bernalillo,Albuquerque,2015-10-02,Parts per billion,...,Parts per billion,0.525000,0.7,8,NaN,Parts per million,0.195750,0.421,6,NaN
1683500,87499,35,1,23,4700A SAN MATEO NE,New Mexico,Bernalillo,Albuquerque,2015-10-02,Parts per billion,...,Parts per billion,0.545833,0.9,8,0.0,Parts per million,0.200000,0.300,9,3.0
1683499,87498,35,1,23,4700A SAN MATEO NE,New Mexico,Bernalillo,Albuquerque,2015-10-02,Parts per billion,...,Parts per billion,0.545833,0.9,8,0.0,Parts per million,0.195750,0.421,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1576041,111629,42,133,8,HILL ST.,Pennsylvania,York,York,2014-04-09,Parts per billion,...,Parts per billion,1.400000,2.3,5,NaN,Parts per million,0.037500,0.400,5,NaN
1576040,111628,42,133,8,HILL ST.,Pennsylvania,York,York,2014-04-09,Parts per billion,...,Parts per billion,1.416667,3.0,5,4.0,Parts per million,0.037500,0.100,5,1.0
1576039,111627,42,133,8,HILL ST.,Pennsylvania,York,York,2014-04-09,Parts per billion,...,Parts per billion,1.416667,3.0,5,4.0,Parts per million,0.037500,0.400,5,NaN
1576061,111649,42,133,8,HILL ST.,Pennsylvania,York,York,2014-04-14,Parts per billion,...,Parts per billion,1.975000,2.6,23,NaN,Parts per million,0.000000,0.000,0,NaN
81807,81807,42,133,8,HILL ST.,Pennsylvania,York,York,2000-05-04,Parts per billion,...,Parts per billion,3.181818,9.0,0,13.0,Parts per million,0.358333,0.400,10,5.0

In [21]:
pollution_dataset.tail(5)

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
1746656,24599,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-30,Parts per billion,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.091667,0.100,2,1.0
1746657,24600,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.067714,0.127,0,NaN
1746658,24601,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.100000,0.100,0,1.0
1746659,24602,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.067714,0.127,0,NaN
1746660,24603,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.100000,0.100,0,1.0

In [34]:
#To add the concatenation of certain columns to a new column: df['newColName']=df['col1']+df['col2']+etc/df['newColName']=df.iloc[:,firstColIndex:lastColIndex+1].sum(axis=1)
#To remove a column, use drop & set dataframe to equal the statement (otherwise it won't modify it)
#pollution_dataset=pollution_dataset.drop(columns=['Unnamed: 0'])

#pollution_dataset.head(5)

#reordering columns
pollution_dataset = pollution_dataset[['State Code', 'County Code', 'Site Num', 'State', 'County', 'City', 'Address', 'Date Local', 'NO2 Units', 'NO2 Mean', 'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI', 'O3 Units', 'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 Units', 'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI', 'CO Units', 'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI']]
pollution_dataset.head(5)

#to export altered csv: dfName.to_csv('csvName.csv',index=FALSE)

,State Code,County Code,Site Num,State,County,City,Address,Date Local,NO2 Units,NO2 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,4,13,3002,Arizona,Maricopa,Phoenix,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-01,Parts per billion,19.041667,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,4,13,3002,Arizona,Maricopa,Phoenix,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-01,Parts per billion,19.041667,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,4,13,3002,Arizona,Maricopa,Phoenix,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-01,Parts per billion,19.041667,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,4,13,3002,Arizona,Maricopa,Phoenix,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-01,Parts per billion,19.041667,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,13,3002,Arizona,Maricopa,Phoenix,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-02,Parts per billion,22.958333,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN

In [35]:
import re
#for filtering for multiple conditions with loc, df.loc[(df['colName1']=='cond1') & (df['colName2']=='cond2') & (df['colName3']>=number)] use | for 'or'

#to reset indeces of altered df, df=df.reset_index()

#to filter out fields that contain specific strings, df.loc[~df['desiredCol'].str.contains('DesiredStr')], ~ is equivalent to !

pollution_dataset.loc[pollution_dataset['State'].str.contains('Arizona|Nevada', regex=True)]

,State Code,County Code,Site Num,State,County,City,Address,Date Local,NO2 Units,NO2 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,4,13,3002,Arizona,Maricopa,Phoenix,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-01,Parts per billion,19.041667,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.200,21,NaN
1,4,13,3002,Arizona,Maricopa,Phoenix,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-01,Parts per billion,19.041667,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.200,23,25.0
2,4,13,3002,Arizona,Maricopa,Phoenix,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-01,Parts per billion,19.041667,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.200,21,NaN
3,4,13,3002,Arizona,Maricopa,Phoenix,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-01,Parts per billion,19.041667,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.200,23,25.0
4,4,13,3002,Arizona,Maricopa,Phoenix,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-02,Parts per billion,22.958333,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.600,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1737334,32,31,16,Nevada,Washoe,Reno,"301 A STATE STREET, RENO, NV 89502",2016-03-30,Parts per billion,14.845833,...,Parts per billion,0.212500,0.8,8,NaN,Parts per million,0.245833,0.400,23,5.0
1737335,32,31,16,Nevada,Washoe,Reno,"301 A STATE STREET, RENO, NV 89502",2016-03-31,Parts per billion,15.800000,...,Parts per billion,0.259091,1.5,6,1.0,Parts per million,0.270545,0.556,6,NaN
1737336,32,31,16,Nevada,Washoe,Reno,"301 A STATE STREET, RENO, NV 89502",2016-03-31,Parts per billion,15.800000,...,Parts per billion,0.259091,1.5,6,1.0,Parts per million,0.312500,0.400,0,5.0
1737337,32,31,16,Nevada,Washoe,Reno,"301 A STATE STREET, RENO, NV 89502",2016-03-31,Parts per billion,15.800000,...,Parts per billion,0.257143,1.2,8,NaN,Parts per million,0.270545,0.556,6,NaN
1737338,32,31,16,Nevada,Washoe,Reno,"301 A STATE STREET, RENO, NV 89502",2016-03-31,Parts per billion,15.800000,...,Parts per billion,0.257143,1.2,8,NaN,Parts per million,0.312500,0.400,0,5.0

In [39]:
#changing a value in df to different value
pollution_dataset.loc[pollution_dataset['City']=='Fénix', 'City']="Phoenix"

#to change multiple values in df, df.loc[df['conditionCol']=='requiredVal',['colChange1','colChange2','colChange3']]=['value1','value2','value3']
pollution_dataset.head(5)

,State Code,County Code,Site Num,State,County,City,Address,Date Local,NO2 Units,NO2 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,4,13,3002,Arizona,Maricopa,Phoenix,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-01,Parts per billion,19.041667,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,4,13,3002,Arizona,Maricopa,Phoenix,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-01,Parts per billion,19.041667,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,4,13,3002,Arizona,Maricopa,Phoenix,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-01,Parts per billion,19.041667,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,4,13,3002,Arizona,Maricopa,Phoenix,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-01,Parts per billion,19.041667,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,13,3002,Arizona,Maricopa,Phoenix,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-02,Parts per billion,22.958333,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN

In [46]:
new_df = pollution_dataset.groupby(['City']).mean()

29

In [47]:
new_df.iloc[29]

State Code           17.000000
County Code          31.000000
Site Num             63.000000
NO2 Mean             31.505439
NO2 1st Max Value    49.233216
NO2 1st Max Hour     12.293286
NO2 AQI              46.869258
O3 Mean               0.012621
O3 1st Max Value      0.020682
O3 1st Max Hour      11.388693
O3 AQI               17.519435
SO2 Mean              4.638736
SO2 1st Max Value    11.010247
SO2 1st Max Hour     10.074205
SO2 AQI              17.763251
CO Mean               0.632211
CO 1st Max Value      1.069081
CO 1st Max Hour      10.263251
CO AQI               10.215548
Name: Chicago, dtype: float64

In [57]:
#aggregate statistics: group by to remove duplicates (finds mean of row values that share city), use sorted values to 
#new_df = pollution_dataset.groupby(['City']).mean()#.sort_values('CO Mean')
#you can use count() to get the number of rows with groupby value or sum() to add all values of data fields with groupbu value

pollution_dataset['count']=1
pollution_dataset.groupby(['City']).count()['count']

City
Albuquerque       7130
Alexandria        5876
Altoona           7580
Annandale         4042
Arden-Arcade     19878
                 ...
Wilkes-Barre      2254
Wilmington        3630
Winston-Salem     1942
Winter Park      23346
York             15768
Name: count, Length: 144, dtype: int64

In [60]:
polldf=pollution_dataset.dropna()
polldf

,State Code,County Code,Site Num,State,County,City,Address,Date Local,NO2 Units,NO2 Mean,...,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,count
1,4,13,3002,Arizona,Maricopa,Phoenix,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-01,Parts per billion,19.041667,...,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0,1
5,4,13,3002,Arizona,Maricopa,Phoenix,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-02,Parts per billion,22.958333,...,1.958333,3.0,22,4.0,Parts per million,1.066667,2.3,0,26.0,1
9,4,13,3002,Arizona,Maricopa,Phoenix,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-03,Parts per billion,38.125000,...,5.250000,11.0,19,16.0,Parts per million,1.762500,2.5,8,28.0,1
13,4,13,3002,Arizona,Maricopa,Phoenix,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-04,Parts per billion,40.260870,...,7.083333,16.0,8,23.0,Parts per million,1.829167,3.0,23,34.0,1
17,4,13,3002,Arizona,Maricopa,Phoenix,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-05,Parts per billion,48.450000,...,8.708333,15.0,7,21.0,Parts per million,2.700000,3.7,2,42.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746642,56,21,100,Wyoming,Laramie,Not in a city,NCore - North Cheyenne Soccer Complex,2016-03-27,Parts per billion,4.277273,...,-0.095238,0.0,0,0.0,Parts per million,0.100000,0.1,0,1.0,1
1746646,56,21,100,Wyoming,Laramie,Not in a city,NCore - North Cheyenne Soccer Complex,2016-03-28,Parts per billion,8.317391,...,0.117391,0.5,7,0.0,Parts per million,0.100000,0.1,0,1.0,1
1746650,56,21,100,Wyoming,Laramie,Not in a city,NCore - North Cheyenne Soccer Complex,2016-03-29,Parts per billion,2.564706,...,0.143750,0.7,8,0.0,Parts per million,0.006667,0.1,0,1.0,1
1746654,56,21,100,Wyoming,Laramie,Not in a city,NCore - North Cheyenne Soccer Complex,2016-03-30,Parts per billion,1.083333,...,0.016667,0.1,0,0.0,Parts per million,0.091667,0.1,2,1.0,1
1746658,56,21,100,Wyoming,Laramie,Not in a city,NCore - North Cheyenne Soccer Complex,2016-03-31,Parts per billion,0.939130,...,-0.022727,0.0,0,0.0,Parts per million,0.100000,0.1,0,1.0,1